<h1>All Articles</h1>

  <%= @articles.each do |article| %>

    <div class="article">

       <strong> <%= article.title %> </strong>

       <%= article.text[0..60].concat('...') %>

       <div class="article links" style="float: right;">
         <%= link_to 'Show', article_path(article) %> |
         <%= link_to 'Edit', edit_article_path(article) %> |
         <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }%>
       </div>

    </div>

  <% end %>
